<h1>Carrito</h1>

{{#if cart.products.length}}
  <ul>
    {{#each cart.products}}
      <li>
        <strong>{{this.product.title}}</strong><br>
        Cantidad: {{this.quantity}}<br>
        Precio unitario: ${{this.product.price}}<br>
        Subtotal: ${{multiply this.product.price this.quantity}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}

<a href="/products">Volver a productos</a>
